<%= stylesheet_link_tag "lines", media: "all", "data-turbolinks-track" => "reload" %>

<br></br>
<div class="container" id="new_post">
  <h1>New Post</h1>
  <%= form_for([@board, @line]) do |f| %>
    <% if @line.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

        <ul>
        <% @line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="actions">
      <%= f.submit "Submit Post" %>
    </div>
  <% end %>
  <%= link_to 'Back to Threads', board_lines_path %>
</div>
<br></br>