<%= stylesheet_link_tag "lines", media: "all", "data-turbolinks-track" => "reload" %>

<body>
  <div class="container">
    <div class ="main_post">
      <h2><strong><%= @line.name %></strong></h2>
      <p><%= @line.description %></p>
    </div>

    <div class ="main_post">
      <h4><strong>Comments</strong></h4>
      <%= render @line.posts %>
    </div>

    <div class ="main_post">
      <h5><strong>Add a comment:</strong></h5>
      <%= form_for([@board, @line, @line.posts.build], multipart: true) do |f| %>

        <p>
          <%= f.text_area :text %>
        </p>
        <p>
          <%= f.file_field :image %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>

      <%= link_to 'Back to Threads', board_lines_path %>
    </div>
    <br></br>
  </div>
</body>
