<div class="container">
  <div class="col-md-3" style="padding-right: 100px;">
    <div class="row">
      <td><%= image_tag @user.icon.url(:square) %></td>
    </div>
    <div class="row">
      <h3> <%= @user.user_name %> </h3>
    </div>
    <div class="row">
      <%= form_for(@user, multipart: true) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.file_field :icon %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <h3>Bio</h3>
    </div>
    <div class="row">
      <%=@user.bio%>
    </div>
    <div class="row">
      <h1>Personal Preferences</h1> 
    </div>
    <%= form_tag '/', :method => 'get' do %>
      <div class ="row">
        <div class="col-md-6">
          Year:<%= select_tag(:all_any,
              options_for_select(
                [['Freshman', "Freshman"],
                 ['Sophomore', "Sophomore"],
                 ['Junior', "Junior"],
                 ["Senior", "Senior"]]), class: "form-control") %>
          <br>
        </div> 
      </div>
      <div class ="row">
        <div class="col-md-6">
          Gender Preference:<%= select_tag(:all_any,
              options_for_select(
                [['Male Only', "Male"],
                 ['Female Only', "Female"],
                 ["Mixed Gender", "Mixed"]]), class: "form-control") %>
          <br>
        </div> 
      </div>
      <div class ="row">
        Room Type:
      </div>
      <div class ="row">
        Housing Number:
      </div>
      <div class ="row">
        Bedtime:
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="range-wrapper">
            <p>Insert Field Name:</p>
            <input type="range" min="0" max="10" id="pref1"/>
            <div class="text">1</div>
            <br>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class ="row">
        <div class="col-md-6">  
          <div class="range-wrapper">
            <p>Insert Field Name:</p>
            <input type="range" min="0" max="10" id="pref2"/>
            <div class="text">1</div>
            <br>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
          <%= submit_tag "Submit Preferences", class: "btn btn-primary" %> 
      </div>
    <% end %>
  </div>
</div>
