<%= stylesheet_link_tag "buildings", media: "all", "data-turbolinks-track" => "reload" %>

<div class="container">
  <ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "Quads", quads_path %></li>
    <li><%= link_to @quad.name, quad_path(@quad.id)%></li>
    <li class="active"><%=@building.name%></li>
  </ol>
  <h1> <%= @building.name %> </h1>
  <% @tags.each do |tag, count| %>
    <span class="hash-tag">#<%=tag%> </span>
  <% end %>
  <h4> <%= @building.description %> </h4>

  <% unless session[:user_id].nil? %>
  <div class="row new-review">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">Write a Review</a></li>
      <li><a href="+-#photos" aria-controls="photos" role="tab" data-toggle="tab">Upload Photos</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="comment">
        <%= render(partial: 'new_review') %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="photos">
        <%= render(partial: 'new_photos') %>
      </div>
    </div>
  </div>
  <% end %>

  <h2 id="photos"> Photos </h2>

  <% @building.pictures.each do |photo| %>
    <% if photo.image_content_type.nil? %>
      <%= image_tag photo.image_file_name, id: "profile-pic", width: "200" %>
    <% else %>
      <%= image_tag photo.image.url(:square), id: "profile-pic", width: "200" %>
    <% end %>
  <% end %>

  <h2> Reviews </h2>
  <% if @reviews_users.empty? then %>
    <h3>There are no reviews yet. Write a review above!</h3>
  <% end %>
  <% @reviews_users.each do |review, user| %>
    <div class="row one-review">
      <div class="media col-md-2 ">
        <div class="media-left media-middle">
          <% if user.icon_content_type.nil? %>
            <%= image_tag user.icon_file_name, id: "profile-pic", size: "30" %>
          <% else %>
            <%= image_tag user.icon.url(:thumb), id: "profile-pic", size: "30" %>
          <% end %>
        </div>
        <div class="media-body media-middle">
          <h5> <%= link_to user.user_name, user_path(user.id) %> </h5>
        </div>
      </div>
      <div class="col-md-2 rating">
        <span>
          <% (1..10).each do |rating| %>
            <% unless rating == (review.rating * 2) %>
              <input name="<%=review.id%>" type="radio" class="star {split:2}" disabled="disabled"/>
            <% else %>
              <input name="<%=review.id%>" type="radio" class="star {split:2}" disabled="disabled" checked="checked"/>
            <% end %>
          <% end %>
        </span>
        <span class="rating-as-num"><%= review.rating %> </span>
      </div>
      <div class="col-md-12">
        <p> <%= review.text %> </p>
        <% review.tags.each do |tag| %>
          <span class="hash-tag">#<%= tag %> </span>
        <% end %>
        <p class="datetime"> Posted <%= review.created_at.strftime('%b %d, %Y') %> </p>
      </div>
    </div>
  <% end %>


</div>
