<head>
<style>


body {
  background-color: #e6f2ff;
}

h1 {
  text-align: center;
}


#sidebar_container{
  position:absolute;
  left:1050px;
  top:300px;
  padding:5px;
  bottom:0;
  background-color:white;
  width:330px;
  height: 417px;
  border-radius:3px;
  overflow-y: scroll;
  border: 3px solid white;
}

.map_container{width: 1200px; height: 1200px; background-color: #d3d3d3}

.circle{border-radius:20px;width:40px;height:40px;position:absolute;background-color:blue;opacity:0.5}
.circle:hover{background-color:#d3d3d3}
</style>
</head>

<body>


<h1>Advanced Search</h1>

  <div style="background-color: #d3d3d3;font-size: 150%;font-family: "Times New Roman", Times, serif;opacity:40%;"> Please enter your search</div>

  <br>
  <div>


  <%= form_tag rooms_path, :method => 'get', :id => "floor_search" do %>
    <p>
      <%= select_tag :building, options_for_select(@buildings), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= select_tag :floor, options_for_select(@floors), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= submit_tag "Search", class: "btn btn-default"  %>
    </p>
  <%end%>

 
  <img id="img" src= <%=@chosen_file_user%>>
 

  </div>



<%= link_to 'Back', map_index_path %>

</body>
<%= include_gon %>
<script type="text/javascript">

  //if(this.getAttribute('id')=="calc"){

    var img=document.getElementById("img");

    var addMode=true;
    var id_counter = 1;
    var emptyRoomCounter = 1;

    filled_rooms = gon.all_dots_user;
    for (var i = 0; i < filled_rooms.length; i++) {
      var newDot=document.createElement("div");
      newDot.className="circle";
      newDot.id = filled_rooms[i]["id"];
      newDot.style.left=filled_rooms[i]['x_coordinate'];
      newDot.style.top=filled_rooms[i]['y_coordinate']
      document.body.appendChild(newDot);
    }

    

</script>
