<head>
<style>

#assistant{

  left:30px;
  top:100px;
  padding:5px;
  bottom:0;
  border: 3px solid white;
  border-radius:3px;
  background-color:#d3d3d3;
  width:600px;
  height: 100px;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}
.circle{border-radius:20px;width:40px;height:40px;position:absolute;background-color:blue;opacity:0.5}
.circle:hover{background-color:#d3d3d3}
  
.map_container{width: 1200px; height: 1200px; background-color: #d3d3d3}
</style>
</head>

<body>


<h1>Advanced Search</h1>

  <div style="background-color: #d3d3d3;font-size: 150%;font-family: 'Times New Roman', Times, serif;opacity:40%;border:3px solid white;width:500px;"> Please enter your search, this page is for admins only</div>
  <br>
  <div id = "assistant" ></div>
  <br>
  <div>

  <%= form_tag rooms_index2_path, :method => 'get', :id => "floor_search2" do %>
    <p>
      <%= select_tag :building, options_for_select(@buildings2), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= select_tag :floor, options_for_select(@floors2), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= submit_tag "Search", class: "btn btn-default"  %>
    </p>
  <%end%>

  
  <div class = 'map_container'>
  
    <img id="img" src= <%=@chosen_file%>>
    
    
  </div>



  
  <br>




<%= link_to 'Back', map_index_path %>

</body>
<%= include_gon %>
<script type="text/javascript">

  //if(this.getAttribute('id')=="calc"){

    var img=document.getElementById("img");

    var addMode=true;
    var emptyRoomCounter = 0;
    var firstVisit = 0;

    filled_rooms = gon.all_dots;
    for (var i = 0; i < filled_rooms.length; i++) {
      var newDot=document.createElement("div");
      newDot.className="circle";
      newDot.id = filled_rooms[i]["id"];
      newDot.style.left=filled_rooms[i]['x_coordinate'];
      newDot.style.top=filled_rooms[i]['y_coordinate']
      document.body.appendChild(newDot);
    }
    emptyRooms = gon.empty_locations;

    
    document.getElementById("assistant").innerHTML = "Please locate room: " + emptyRooms[0]['number'] + " with ID :" + emptyRooms[emptyRoomCounter]['id'] + " at building: " + emptyRooms[0]['building_name'] + " on Floor: " + emptyRooms[emptyRoomCounter]['floor'];  
    
          
    img.onclick=function(ev){
      if(!addMode){
        return;
      }
      var newDot=document.getElementById("assistant");
      
        newDot.innerHTML = "Please locate room: " + emptyRooms[emptyRoomCounter+1]['number'] + " with ID :" + emptyRooms[emptyRoomCounter+1]['id'] + " at building: " + emptyRooms[emptyRoomCounter+1]['building_name'] + " on Floor: " + emptyRooms[emptyRoomCounter+1]['floor'];  
      
      
      var newCircle=document.createElement("div");
      newCircle.className="circle";
      // newCircle.style.left=ev.clientX-20+"px"
      // newCircle.style.top=ev.clientY-20+"px"
      var offset = $(this).offset();
      newCircle.style.left=(ev.pageX-20) + "px";
      newCircle.style.top=(ev.pageY-20) + "px";
      console.log(ev);
      newCircle.onclick=poo;
      document.body.appendChild(newCircle);
      var path = "../rooms/" + emptyRooms[emptyRoomCounter]['id'];
      console.log(path);


      $.ajax({
          type: "PUT",
          url: path,
          dataType: 'script',
          data: {
            room: {x_coordinate: (ev.pageX-20) + "px", y_coordinate: (ev.pageY-20) + "px"}
          },
          error: function() {
            alert('error posting rooms');
          }
      });

      emptyRoomCounter = emptyRoomCounter + 1;
    }
    
    // $.ajax({
    //     type: "POST",
    //     dataType: "script",
    //     url: '/rooms/1',
    //     contentType: 'application/json',
    //     data: JSON.stringify({ room:{x_coordinate:"45",y_coordinate:"50"}, _method:'put' })
    // }).done(function( msg )
    //         {
    //             alert( "Data Saved: " + msg );
    //         });

    function poo(ev){
      if(addMode){
        console.log("ev");
      }else{
        document.body.removeChild(ev.target);
      }
      
    }

    function toggle(){
      addMode=!addMode;
      document.getElementById("toggler").textContent=addMode?"Adding":"Removing";
    }

</script>