<head>
<style>


body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}
.circle{border-radius:20px;width:40px;height:40px;position:absolute;background-color:blue;opacity:0.5}

#sidebar_container{
  position:absolute;
  left:1050px;
  top:300px;
  padding:5px;
  bottom:0;
  background-color:white;
  width:330px;
  height: 417px;
  border-radius:3px;
  overflow-y: scroll;
  border: 3px solid white;
}
.map_container{width: 900px; height: 750px; background-color: #d3d3d3}
</style>
</head>

<body>


<h1>Advanced Search</h1>

  <div style="background-color: #d3d3d3;font-size: 150%;font-family: "Times New Roman", Times, serif;opacity:40%;"> Please enter your search, this page is for admins only</div>

  <br>
  <div>

  <%= form_tag rooms_index2_path, :method => 'get', :id => "floor_search2" do %>
    <p>
      <%= select_tag :building1, options_for_select(@buildings2), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= select_tag :floor2, options_for_select(@floors2), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= submit_tag "Search", class: "btn btn-default"  %>
    </p>
  <%end%>

  <div class = 'map_container'>
    <%if @chosen_building.eql?%>
      <img id="img" src= "../assets/Ziv 127Floor 1.png">
    
    <%end%>
</div>



  
  <br>




<%= link_to 'Back', map_index_path %>

</body>

<script type="text/javascript">

    var img=document.getElementById("img");
    var addMode=true;
    var id_counter = 1;



    img.onclick=function(ev){
      if(!addMode){
        return;
      }
      console.log("please enter " + id_counter);
      var newCircle=document.createElement("div");
      newCircle.className="circle";
      // newCircle.style.left=ev.clientX-20+"px"
      // newCircle.style.top=ev.clientY-20+"px"
      var offset = $(this).offset();
      newCircle.style.left=(ev.pageX-20) + "px";
      newCircle.style.top=(ev.pageY-20) + "px";
      console.log(ev);
      newCircle.onclick=poo;
      document.body.appendChild(newCircle);
      var path = "../rooms/" + id_counter;


      $.ajax({
          type: "PUT",
          url: path,
          dataType: 'script',
          data: {
            room: {x_coordinate: (ev.pageX-20) + "px", y_coordinate: (ev.pageY-20) + "px"}
          },
          error: function() {
            alert('error posting rooms');
          }
      });
      id_counter = id_counter + 1;
    }
    // $.ajax({
    //     type: "POST",
    //     dataType: "script",
    //     url: '/rooms/1',
    //     contentType: 'application/json',
    //     data: JSON.stringify({ room:{x_coordinate:"45",y_coordinate:"50"}, _method:'put' })
    // }).done(function( msg )
    //         {
    //             alert( "Data Saved: " + msg );
    //         });

    function poo(ev){
      if(addMode){
        console.log("ev");
      }else{
        document.body.removeChild(ev.target);
      }
      
    }

    function toggle(){
      addMode=!addMode;
      document.getElementById("toggler").textContent=addMode?"Adding":"Removing";
    }

</script>