<head>
<style>


body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}
.circle{border-radius:20px;width:40px;height:40px;position:absolute;background-color:red;opacity:0.5}

</style>
</head>

<body>


<h1>Advanced Search</h1>

  <div style="background-color: #d3d3d3;font-size: 150%;font-family: "Times New Roman", Times, serif;opacity:40%;"> Please enter your search</div>

  <br>
  <div>

  <h1>Listing Searches</h1>

  <%= form_tag rooms_path, :method => 'get', :id => "floor_search" do %>
    <p>
      <%= select_tag :building, options_for_select(@buildings), :include_blank => true, data: {
        remote: true,
        url: url_for(rooms_path)
      } %>

      <%= select_tag :floor, options_for_select(@floors), :include_blank => true, data: {
        remote: true,
        url: url_for(rooms_path)
      } %>

      <%= submit_tag "Search", class: "btn btn-default"  %>
    </p>
  <%end%>

   <%if @chooser == 1 %>
    <img id="img" src= "assets/Ziv 127Floor 1.png">
  <%elsif @chooser == 2 %>
    <img id="img" src= "assets/Ziv 127Floor 2.png">
  <%elsif @chooser == 3 %>
    <img id="img" src= "assets/Ziv 127Floor 3.png">
  <%elsif @chooser == 4 %>
    <img id="img" src= "assets/Ziv 127Floor 4.png">
  <%elsif @chooser == 5 %>
    <img id="img" src= "assets/Ziv 127Floor 5.png">
  <%else%>
    <img id="img" src="">
  <%end%>



  
  <br>

  <%if @current_u.admin? == true%>
    <div style="padding:10px;border:1px solid #CCC;display:inline-block;cursor:pointer" onclick="toggle()" id="toggler">Adding</div>

  <%else%>
    Enjoy the view!
  <%end%>


<%= link_to 'Back', map_index_path %>

</body>

<script type="text/javascript">

    var img=document.getElementById("img");
    var addMode=true;
    var id_counter = 1;



    img.onclick=function(ev){
      if(!addMode){
        return;
      }
      console.log("please enter " + id_counter);
      var newCircle=document.createElement("div");
      newCircle.className="circle";
      // newCircle.style.left=ev.clientX-20+"px"
      // newCircle.style.top=ev.clientY-20+"px"
      var offset = $(this).offset();
      newCircle.style.left=(ev.pageX-20) + "px";
      newCircle.style.top=(ev.pageY-20) + "px";
      console.log(ev);
      newCircle.onclick=poo;
      document.body.appendChild(newCircle);
      var path = "../rooms/" + id_counter;


      $.ajax({
          type: "PUT",
          url: path,
          dataType: 'script',
          data: {
            room: {x_coordinate: (ev.pageX-20) + "px", y_coordinate: (ev.pageY-20) + "px"}
          },
          error: function() {
            alert('error posting rooms');
          }
      });
      id_counter = id_counter + 1;
    }
    // $.ajax({
    //     type: "POST",
    //     dataType: "script",
    //     url: '/rooms/1',
    //     contentType: 'application/json',
    //     data: JSON.stringify({ room:{x_coordinate:"45",y_coordinate:"50"}, _method:'put' })
    // }).done(function( msg )
    //         {
    //             alert( "Data Saved: " + msg );
    //         });

    function poo(ev){
      if(addMode){
        console.log("ev");
      }else{
        document.body.removeChild(ev.target);
      }
      
    }

    function toggle(){
      addMode=!addMode;
      document.getElementById("toggler").textContent=addMode?"Adding":"Removing";
    }

</script>