<head>
<style>


body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}


#sidebar_container{
  position:absolute;
  left:1050px;
  top:300px;
  padding:5px;
  bottom:0;
  background-color:white;
  width:330px;
  height: 417px;
  border-radius:3px;
  overflow-y: scroll;
  border: 3px solid white;
}

.map_container{width: 900px; height: 750px; background-color: #d3d3d3}
</style>
</head>

<body>


<h1>Advanced Search</h1>

  <div style="background-color: #d3d3d3;font-size: 150%;font-family: "Times New Roman", Times, serif;opacity:40%;"> Please enter your search</div>

  <br>
  <div>


  <%= form_tag rooms_path, :method => 'get', :id => "floor_search" do %>
    <p>
      <%= select_tag :building, options_for_select(@buildings), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= select_tag :floor, options_for_select(@floors), :include_blank => true, data: {
        
        url: url_for(rooms_path)
      } %>

      <%= submit_tag "Search", class: "btn btn-default"  %>
    </p>
  <%end%>

  <div class = 'map_container'>

   <%if @chooser == 1 %>
    <img id="img" src= "assets/Ziv 127Floor 1.png">
  <%elsif @chooser == 2 %>
    <img id="img" src= "assets/Ziv 127Floor 2.png">
  <%elsif @chooser == 3 %>
    <img id="img" src= "assets/Ziv 127Floor 3.png">
  <%elsif @chooser == 4 %>
    <img id="img" src= "assets/Ziv 127Floor 4.png">
  <%elsif @chooser == 5 %>
    <img id="img" src= "assets/Ziv 127Floor 5.png">
  <%else%>
    <img id="img" src="">
  <%end%>

  </div>



<%= link_to 'Back', map_index_path %>

</body>

