<h3> Thanks for the review! </h3>
<p> Would you like to write another review? </p>

<%= puts "buildings", @buildings %>

<%= form_tag create_post_quads_path, method: "get", remote: true, id: 'quad_new_comment' do %>

  <div class="" data-toggle="buttons">
    <% @suggested_tags.keys.each do |tag| %>
      <label class="btn btn-primary tag-btn">
        <input type="checkbox" autocomplete="off" value="<%=tag%>"> <%=tag%>
        <%= check_box_tag "tags[]", tag, true, {:multiple => true}, autocomplete:"off" %>
      </label>
    <% end %>

  </div>

<%= link_to "Write new review", new_post_quads_path(quad_id: @quad), method: :get %>
