<%= stylesheet_link_tag "quads" %>

<div class="container-fluid">
  <div class="col-md-2 filter-col">
    <%= form_tag(do_filter_quads_path, method: "get", remote: true, role: "form", class: "form") do %>
      <h4>Room type</h4>
      <% ["Single", "Double", "Triple", "Suite"].each do |roommate| %>
        <%= check_box_tag "type[]", roommate, false, {:multiple => true} %>
        <span><%=roommate%></span>
        <br>
      <% end %>
      <h4>Price per Semester</h4>
      <% ["$4,000-$4,499", "$4,500-$4,999", "$5,000-$5,499", "$5,500-$6,000"].each do |price| %>
        <%= check_box_tag "price[]", price, false, {:multiple => true} %>
        <span><%=price%></span>
        <br>
      <% end %>
      <h4>Gender</h4>
      <% ["Mixed", "Male Only", "Female Only"].each do |gender| %>
        <%= check_box_tag "gender[]", gender, false, {:multiple => true} %>
        <span><%=gender%></span>
        <br>
      <% end %>
      <!-- False means don't include this (room can have ac or not) -->
      <h4>Misc</h4>
      <div>
        <%= check_box_tag "ac", true, false %> Air Conditioning
      </div>
      <div>
        <%= check_box_tag "kitchen", true, false %>  Kitchen
      </div>
      <div>
        <%= check_box_tag "laundry", true, false %>  Laundry
      </div>
      <br>

      <%= submit_tag "Update", class: "form_submit" %>
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="row class-year">
      <h3>Freshman</h3>
      <div class="media">
        <div class="media-left media-top" style="padding-right: 10px;">
          <%= image_tag "https://s3.amazonaws.com/deis-dorms-devel/pictures/static/buildings/9.jpg", class: "media-object", size:"175x131"%>
        </div>
        <div class="media-body">
          <% @quad_buildings.each do |q, b| %>
            <% if q.years[0] == "1" %>
              <h4 class="media-heading quad-link"><%= link_to q.name, quad_path(q.id)%></h4>
              <div class="media-sub-heading" >
                <span class="building-link">| </span>
                <% b.each do |build| %>
                  <span class="building-link"><%= link_to build.name, quad_building_path(q.id, build.id) %> | </span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row class-year">
      <h3>Sophomore</h3>
      <div class="media">
        <div class="media-left media-top" style="padding-right: 10px;">
          <%= image_tag "https://s3.amazonaws.com/deis-dorms-devel/pictures/static/buildings/5.jpg", class: "media-object", size:"175x131"%>
        </div>
        <div class="media-body">
          <% @quad_buildings.each do |q, b| %>
            <% if q.years[1] == "1" %>
              <h4 class="media-heading"><%= link_to q.name, quad_path(q.id)%></h4>
              <div class="media-sub-heading" >
                <span class="building-link">| </span>
                <% b.each do |build| %>
                  <span class="building-link"><%= link_to build.name, quad_building_path(q.id, build.id) %> | </span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row class-year">
      <h3>Junior</h3>
      <div class="media">
        <div class="media-left media-top" style="padding-right: 10px;">
          <%= image_tag "https://s3.amazonaws.com/deis-dorms-devel/pictures/static/buildings/3.jpg", class: "media-object", size:"175x131"%>
        </div>
        <div class="media-body">
          <% @quad_buildings.each do |q, b| %>
            <% if q.years[2] == "1" %>
              <h4 class="media-heading"><%= link_to q.name, quad_path(q.id)%></h4>
              <div class="media-sub-heading" >
                <span class="building-link">| </span>
                <% b.each do |build| %>
                  <span class="building-link"><%= link_to build.name, quad_building_path(q.id, build.id) %> | </span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row class-year">
      <h3>Senior</h3>
      <div class="media">
        <div class="media-left media-top" style="padding-right: 10px;">
          <%= image_tag "https://s3.amazonaws.com/deis-dorms-devel/pictures/static/buildings/24.jpg", class: "media-object", size:"175x131"%>
        </div>
        <div class="media-body">
          <% @quad_buildings.each do |q, b| %>
            <% if q.years[3] == "1" %>
              <h4 class="media-heading"><%= link_to q.name, quad_path(q.id)%></h4>
              <div class="media-sub-heading" >
                <span class="building-link">| </span>
                <% b.each do |build| %>
                  <span class="building-link"><%= link_to build.name, quad_building_path(q.id, build.id) %> | </span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>
