<%= stylesheet_link_tag "quads" %>

<div class="container-fluid">
  <div class="col-md-2 filter-col">
    <%= form_tag(do_filter_quads_path, method: "get", remote: true, role: "form", class: "form") do %>
      <h4>Room type</h4>
      <% ["Single", "Double", "Triple", "Suite"].each do |roommate| %>
        <%= check_box_tag "type[]", roommate, false, {:multiple => true} %>
        <span><%=roommate%></span>
        <br>
      <% end %>
      <h4>Price per Semester</h4>
      <% ["$4,000-$4,499", "$4,500-$4,999", "$5,000-$5,499", "$5,500-$6,000"].each do |price| %>
        <%= check_box_tag "price[]", price, false, {:multiple => true} %>
        <span><%=price%></span>
        <br>
      <% end %>
      <h4>Gender</h4>
      <% ["Mixed", "Male Only", "Female Only"].each do |gender| %>
        <%= check_box_tag "gender[]", gender, false, {:multiple => true} %>
        <span><%=gender%></span>
        <br>
      <% end %>
      <!-- False means don't include this (room can have ac or not) -->
      <h4>Misc</h4>
      <div>
        <%= check_box_tag "ac", true, false %> Air Conditioning
      </div>
      <div>
        <%= check_box_tag "kitchen", true, false %>  Kitchen
      </div>
      <div>
        <%= check_box_tag "laundry", true, false %>  Laundry
      </div>
      <br>

      <%= submit_tag "Update", class: "form_submit" %>
    <% end %>
  </div>

  <div class="col-md-10" id="quads-by-year">
    <%= render(partial: 'quads_by_year') %>
  </div>

</div>
