<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusYXvwnjlf3T9iXvhGbfi_W-tPFunBvI&callback=initMap"
  type="text/javascript"></script>

<head>
<style>

#sidebar_container{
  position:absolute;
  left:805px;
  top:80px;
  padding:5px;
  bottom:0;
  background-color:white;
  width:330px;
  height: 393px;
  border-radius:3px;
  overflow-y: scroll;
  border: 3px solid white;
}

.dormbldg{
  border-top:solid 1px #CCC;
  cursor:pointer
}

.rel{
  position: relative;
}

#side_advanced_search{
  position:absolute;
  text-align: center;
  left:805px;
  top:54px;
  width:330px;
}

#side_search{
  position:absolute;
  left:805px;
  top:22px;
  width:330px;
}

#search{
  border: 3px solid white;
  width:330px;
  top: 130px;
}

#search:focus{
  background-color: white;
  box-shadow:none;
  outline:0 none;
}

body {
  background-color: #e6f2ff;
}

h1 {
  text-align: left;
}
</style>
</head>

<body>
<div class = "container" id = "title_div">
  <h1>Campus Map</h1>
</div>

<div class = "container">
  <div class = "rel">
    Places of Interest: <input type="checkbox" id="places_of_interest_box" onclick="interestMarkersBox(this)"/>
    Keep Markers: <input type="checkbox" id="keep_markers_box" onclick="keepMarkers(this)"/>
    <div id="map" style='width: 800px; height: 450px;border: 3px solid white;'></div>
    <div id='side_search'><input type="text" id="search" placeholder="Search Dorm Building..."></div>
    <%if @current_u%>
      <%if @current_u.admin? == true%>
        <div id='side_advanced_search'style="background-color: #d3d3d3"><%= link_to 'Advanced Search', rooms_index2_path %></div>
      <%else%>
        <div id='side_advanced_search' style="background-color: #d3d3d3"><%= link_to 'Advanced Search', rooms_path %></div>
      <%end%>
    <%else%>
      <div id='side_advanced_search' style="background-color: #d3d3d3"><%= link_to 'Advanced Search', rooms_path %></div>
    <%end%>
    <div id='sidebar_container'>
    </div>
  </div>
</div>


<br></br>
</body>

<%= include_gon %>
<%= javascript_include_tag "map" %>
